<%- include('partials/header'); -%>

<body>
  <section class="top-section">

    <div class="todo-toggle">
      <h1>TODO</h1>
      <button class="theme-button">
        <img id="dark-theme" src="../images/icon-moon.svg" alt="toggle dark mode">
        <img id="light-theme" class="display-none" src="../images/icon-sun.svg" alt="toggle light mode">
      </button>
    </div>

    <div class="top-card card">
      <div class="card-body">
        <form class="todo-item create-new-todo" action="/todo-home" method="post">
          <input type="radio" onchange='this.form.submit();'>

          <input type="text" id="input" placeholder="Hey <%= currentUser.username.split(" ")[0]; %>" name="newListItem" autocomplete="off">
          <input type="hidden" name="listtype" value="<%= listType %>"/>
        </form>
      </div>
    </div>


  </section>
  <main>
    <section class="all-todos">

      <% if (listType === "Main"){%>
        <% allTodos.forEach((todo)=>{%>
        <form action="/delete" method="post">
          <div class="card">
            <div class="card-body">
              <div class="todo-item">
                <input type="radio" onchange='this.form.submit();'>
                <p class="item"><%= todo.listItem %></p>
                <input type="hidden" name="todoID" value="<%= todo.id %>"/>
                <input type="hidden" name="listtype" value="<%= listType %>"/>
              </div>
            </div>
          </div>
          </form>

        <%})%>

      <%}else{%>

        <% currentUser.otherListItems.forEach((otherList,otherIndex)=>{%>

          <% if(otherList.name === listType){%>



            <%otherList.listItems.forEach((listItem,index)=>{%>

            <form action="/delete" method="post">
              <div class="card">
                <div class="card-body">
                  <div class="todo-item">
                    <input type="radio" onchange='this.form.submit();'>
                    <p class="item"><%= listItem.listItem %></p>
                    <input type="hidden" name="todoID" value="<%= listItem.id %>"/>
                    <input type="hidden" name="listtype" value="<%= listType %>"/>
                  </div>
                </div>
              </div>
              </form>

              <%})%>

          <%}%>




        <%})%>


      <%}%>









    </section>

    <p style="text-align:center;"><%= listType %> List</p>

    <div class="log-out-container">
      <a href="log-out" type="button" class="log-out btn btn-outline-danger">Log out</a>
    </div>

  </main>

</body>
<!-- scripts -->
<script src="../todo/scripts/theme-toggle.js"></script>
<script src="../todo/scripts/todo.js"></script>
</html>
